.favourites .menu ul li.favourites{
    background-color: #f0f2f5;
    border-right: 2px solid #cccc;
}

.favourites .menu ul li.favourites a{
    color: #892be1 !important;
}

p.favourites-header {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
}

.favourites-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(100% - 100px);
    max-height: calc(100vh - 190px);
    overflow: auto;
}

.favourites-content .favourites-item {
    position: relative;
    width: 225px;
    height: max-content;
    margin: 0 30px 30px 0;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 15px #eeee;
}

.favourites-content .favourites-item:hover {
    box-shadow: 0 10px 15px #dddd;
}

.favourites-content .favourites-item .image {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.favourites-content .favourites-item .image img {
    width: 100%;
    height: 165px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.favourites-content .favourites-item .text-container {
    padding: 5px 10px;
}

.favourites-content .favourites-item .keyword{
    position: absolute;
    width: auto;
    top: 127.5px;
    left: 10px;
    padding: 3px 12px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    border-radius: 25px;
}

.favourites-content .favourites-item .title {
    margin: 5px 0 0 0;
    font-weight: 500;
    font-size: 19px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word !important;
    text-overflow: ellipsis;
}

.favourites-content .favourites-item .description {
    font-size: 13px;
    margin-top: 0px;
    text-align: left; 
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.favourites-content .favourites-item .text-container .button-container button {
    position: relative;
    margin-top: 20px;
    width: 100%;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
}

/* .favourites-content .favourites-item .text-container .button-container button::after {
    content: " →";
    position: absolute;
    width: 20px;
    height: 10px;
    color: white;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.favourites-content .favourites-item .text-container .button-container button:hover::after {
    opacity: 1;
    margin-left: 10px;
} */

/* ----------------- */


.main-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-body .content {
    width: calc(100% - 300px);
    background-color: #f4f6f8;
}

.main-body .content {
    padding: 20px 10px 10px 40px;
}

.main-body .content .url-path {
    margin: 0 0 10px 0;
    color: blueviolet !important;
    text-align: left;
}