#geocoder {
    z-index: 1;
    margin: 20px;
  }
  .mapboxgl-ctrl-geocoder {
    min-width: 100%;
  }
  
  .mapboxgl-ctrl-geocoder--icon,
  .mapboxgl-ctrl-geocoder--icon-search {
    display: none;
  }
  
  
  #geocoder {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999999;
  }
  
  .mapboxgl-ctrl-geocoder--suggestion {
      z-index: 1000000;
  }
  
  
  .mapboxgl-ctrl-geocoder input[type="text"]{
    font-size: 14px !important;
  }
  
  .mapbox-directions-origin .mapbox-form-label,
  .mapbox-form-label{
    height: 100%;
  }
  
  .arco-resizebox-trigger-vertical,
  .arco-resizebox-trigger-icon-wrapper{
    width: 15px !important;
  }
  
  .arco-resizebox-trigger-icon-wrapper{
    height: 90.5vh !important;
  }
  
  .mapbox-directions-component-keyline{
    box-shadow: 0 2.5px 5px #cccc !important;
  }