.reviews-wrapper{
    position: relative;
    margin-top: 17px;
    padding: 0 2em 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em 2em;
}
/* -------------- */

.reviews-wrapper .label-header{
    margin-left: -10px;
}
.reviews-wrapper .review-list{
    padding: 0 2em;
    flex: 2;
    min-width: 250px;
    min-height: 40vh !important;
    max-height: 77vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border: 1px solid #eeee;
    border-radius: 10px;
    box-shadow: 0 5px 10px #eeee;
}

@media screen and (max-width: 900px) {
    .reviews-wrapper .review-list{
        width: 100% !important;
    }
}

.review-list > .review{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2em 2em 3em 2em;
    width: 100%;
    height: max-content;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #e0e0e0cc;
}

.review-list > .review:first-child{
    padding-top: 0em;
}

.review-list > .review:last-child{
    border-bottom: 0px !important;
}

.review-list > .review .left{
    margin-right: 1em;
}

.review-list > .review .rating{
    display: flex;
    flex-direction: column;
}

.arco-rate-inner{
    font-size: 18px;
}

.row-right{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em 2.5em;
}

.row-right > .right{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.row-right .image{
    flex: 0 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description .text > span{
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word !important;
    text-overflow: ellipsis;
}

/* ------------------------- */
.review-list .header-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.review-list .header-block .filter-buttons{
    margin-top: 10px;
}

/* ------------------------------ */

.reviews-wrapper .review-details{
    padding: 1.5em 2.5em;
    padding-bottom: 1.75em;
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border: 1px solid #eeee;
    border-radius: 10px;
    box-shadow: 0 5px 10px #eeee;
}

.reviews-wrapper .insights-details{
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reviews-wrapper .bottom-block{
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
}