@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper .body-container {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.body-container .main-body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.body-container .main-body .content,
.body-container .main-body .mapBox {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #dddd;
    background-color: #f3f6f9;
}

/* .mapboxgl-canvas{
    width: 100% !important;
    height: 100% !important;
} */