.add-places-container{
    padding: 0 2em;
    padding-top: 2em;
    height: 85vh;
}

.contributions .menu ul li.contributions{
    background-color: #f0f2f5;
    border-right: 2px solid #cccc;
}

.contributions .menu ul li.contributions a{
    color: #892be1 !important;
}

.contributed-places-list > .contributed-place{
    height: max-content !important;
}

.dashboard-content.contributions > .content .profile-content{
    width: 100% !important;
}

.arco-tabs-header-title{
    font-size: 16px;
}
.arco-tabs-header-title-active, 
.arco-tabs-header-title-active:hover{
    color: black;
}


.contributions .arco-tabs-header-ink{
    background-color: black !important;
}

.contributions .content{
    width: calc(100% - 300px) !important;
}