.dashboard-content{
  width: 100%;
  display: flex;
  flex-direction: row !important;
}

.dashboard-content .sidebar{
  height: calc(100vh - 70px);
}

.dashboard-content .content{
  width: 100% !important;
  height: 85vh;
  max-height: 85vh;
  overflow: auto;
}

.main-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-body .content {
  width: calc(100% - 300px);
  background-color: #f4f6f8;
}

.main-body .content {
  padding: 0px 10px 0px 40px;
}

.main-body .content .url-path {
  margin-top: 17px;
  color: blueviolet !important;
  text-align: left;
}

.content .profile-section {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2em 0;
}

.content .profile-section .profile-menu-card {
  margin-right: 50px;
  width: calc(20% + 20px);
  height: -moz-max-content;
  height: max-content;
  border: 1px solid #dddd;
  background-color: white;
  min-width: 200px;
  text-align: left;
}

.content .profile-section .profile-menu-card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content .profile-section .profile-menu-card ul li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  text-indent: 20px;
  line-height: 40px;
  border-bottom: 1px solid #dddd;
  cursor: pointer;
}

.content .profile-section .profile-menu-card ul li a{
  text-decoration: none;
  color: black;
}

.content .profile-section .profile-menu-card ul li:last-child {
  border-bottom: none;
}
/* ------------------------ */

.content .profile-content {
  width: 70%;
}

.dashboard-form-submit-btn{
  all: none !important;
  padding: 10px 15px;
  background-color: rgb(33, 33, 33);
  color: white;
  border: none;
  outline: none;
  border-radius: 2px !important;
  transition: 0.2s ease;
}

.dashboard-form-submit-btn:hover{
  background-color: black;
  box-shadow: 0 2.5px 5px #868686cc;
}