.sidebar .menu .dashboard,
.profile-menu-card .change-password {
    background-color: aliceblue;
}

.content .profile-content .change-password-section .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content .profile-content .change-password-section .input-group input {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 45px;
    border: 1px solid #cccc;
    outline: none;
    text-indent: 15px;
    margin-bottom: 10px;
}

.content .profile-content .change-password-section .input-group input::placeholder {
    font-size: 15px;
    font-weight: 400;
}

.content .profile-content .change-password-section .input-group p:not(:first-child) {
    margin: 10px 0 5px 0;
}